/* You can add global styles to this file, and also import other style files */
.logo-img{
height:70px;
}
.navbar{
    background:#fff;
}
.navbar li a{
    color:#777;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 20px;
    padding: 11px 15px;
    text-transform: none;
    font-weight: 100;
    -webkit-transitio: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    letter-spacing: 0.5px;
    border-right: 1px solid rgba(255,255,255,0.1);
}
.freetextsearch {
    background: #f1c40f;
    padding: 12px 110px 12px 12px;
    margin-bottom: 10px;
}
.txtEnabledSearch {
    border: 1px solid #f1c40f;
    padding: 8px 10px;
    width: 100%;
}
.search-btn {
    background: #085b9a;
    color: #fff;
    padding: 8px 20px;
    position: relative;
    right: 12px;
    top: 14px;
    float:right;
    margin-top:-80px !important;
}
.SectionFeature-heading{
    font-size: 36px;
    color: #222;
    margin: 0 0 13px 0;
    font-weight: normal;
    font-family: 'Segoe UI Light','Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
    line-height: 1.4em;
}
/* 
---------------------------------------------
carousel
--------------------------------------------- 
*/
#main_slider .carousel-indicators-numbers li {
	text-indent: 0;
	margin: 0 2px;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 100%;
	line-height: 30px;
	color: #fff;
	background-color: transparent;
	transition: all ease 0.5s 0s;
	font-weight: 500;
}
#main_slider .carousel-indicators-numbers li.active, #main_slider .carousel-indicators-numbers li:hover {
	margin: 0 2px;
	width: 30px;
	height: 30px;
	color: #d80000;
	font-size: 20px;
	cursor: pointer;
	transition: all ease 0.5s 0s;
	background-color: transparent;
}
#main_slider .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 2%;
    margin-left: 97%;
    list-style: none;
    bottom: 45%;
    z-index: 1;
}
.carousel-caption h2 {
	font-size: 30px;
	color: #fff;
	letter-spacing: 0.5px;
	font-family: 'Nunito', sans-serif;
}
.carousel-caption h1 {
	font-size: 50px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	color: #d80000;
	letter-spacing: 1px;
	margin-top: 20px;
}
.text_change_slider {
	color: #fff;
	font-weight: 400;
}
.slider_btn {
	border: 2px solid #fff;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: all ease 0.5s 0s;
	color: #fff;
}
.slider_btn:hover {
	background-color: #d80000;
	border: 2px solid #d80000;
	color: #fff;
	text-decoration: none;
	transition: all ease 0.5s 0s;
}
.slider_btn_box {
	margin-top: 50px;
}
.carousel-caption {
	position: absolute;
	right: 28%;
	bottom: 18%;
	left: 28%;
	z-index: 10;
	padding-top: 70px;
	padding-bottom: 90px;
	color: #fff;
	text-align: center;
	background-color: rgba(3, 3, 31, 0.5);
}
#main_slider .carousel-control-prev-icon {
	
	height: 45px;
	width: 45px;
	background-color: #000;
	background-size: 33%;
	transition: all ease 0.5s 0s;
}
#main_slider .carousel-control-prev-icon:hover {
	background-color: #d80000;
	transition: all ease 0.5s 0s;
}
#main_slider .carousel-control-next-icon {
	
	height: 45px;

	width: 45px;
	background-color: #000;
	background-size: 33%;
	transition: all ease 0.5s 0s;
}
#main_slider .carousel-control-next-icon:hover {
	background-color: #d80000;
	transition: all ease 0.5s 0s;
}
#main_slider .carousel-control-next {
	right: 0%;
	width: 45px;
	height: 20px;
	top: unset;
	bottom: 13px;
}
#main_slider .carousel-control-prev {
	left: 95%;
	width: 45px;
	height: 20px;
	top: unset;
	bottom: 13px;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
	opacity: 1;
}
.slider_border {
	border-bottom: 1px solid #d80000;
	width: 25%;
	float: left;
	box-shadow: 0px 0px 3px 0px rgba(169, 169, 169, 0.75);
	margin-top: 20px;
}
.slider_border1 {
	border-bottom: 1px solid #d80000;
	width: 25%;
	float: right;
	margin-top: 20px;
}
.slider_title_box {
	width: 60%;
	margin: auto;
}
.slider_title_box h2 {
	border-collapse: separate;
	border-spacing: 16px 0;
	border-spacing: 1rem 0;
	color: #fff;
	font-size: 30px;
	display: table;
	font-family: Merriweather;
	line-height: 1.45;
	margin: 1em 0 .5em;
	table-layout: auto;
	text-align: center;
	white-space: nowrap;
	width: 100%;
	font-family: 'Nunito', sans-serif;
}
.slider_title_box h2:before, .slider_title_box h2:after {
	border-top: 2px double #d80000;
	content: '';
	display: table-cell;
	width: 50%;
}
.slider_title_box h2:before, .slider_title_box h2:after {
	border-top-style: solid;
}